include .gitignore
include .gitmodules
include .travis.yml
include CMakeLists.txt
include MANIFEST.in
include README.md
include SDFGen/CMakeLists.txt
include SDFGen/README.md
include SDFGen/array1.h
include SDFGen/array2.h
include SDFGen/array3.h
include SDFGen/config.h.in
include SDFGen/hashgrid.h
include SDFGen/hashtable.h
include SDFGen/main.cpp
include SDFGen/makelevelset3.cpp
include SDFGen/makelevelset3.h
include SDFGen/util.h
include SDFGen/vec.h
include pysdfgen/__init__.py
include setup.py
